.category{
    max-width: 600px;
    margin: 60px auto;
}

.category ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.category ul li{
    margin-bottom: 15px;
}
.category ul li:not(:last-child){
    margin-right: 20px;
}

.category ul li a {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #EBF4F8;
    background: #0880AE;
    border-radius: 6px;
    display: block;
    text-transform: capitalize;
    transition: 0.3s;
}
.category ul li a:hover{
    opacity: 0.8;
}

@media (max-width: 600px){
    .category{
        max-width: 95%;
    }
}